
/* Transition */

@mixin transition($time:0.3s,$p:all,$d:0s){
  -webkit-transition:$time $p;
  -moz-transition:$time $p;
  -o-transition:$time $p;
  -ms-transition:$time $p;
  transition:$time $p;
  -webkit-transition-delay:$d;
  -moz-transition-delay:$d;
  -o-transition-delay:$d;
  -ms-transition-delay:$d;
  transition-delay:$d;
}
@mixin transitiond($d){
  -webkit-transition-delay:$d;
  -moz-transition-delay:$d;
  -o-transition-delay:$d;
  -ms-transition-delay:$d;
  transition-delay:$d;
}
@mixin transitionT($t){
  -webkit-transition-timing-function: $t;
  transition-timing-function: $t;
}

/* Scale */

@mixin transformScale($scale1,$scale2){
  -webkit-transform:scale($scale1,$scale2);
  -moz-transform:scale($scale1,$scale2);
  -o-transform:scale($scale1,$scale2);
  -ms-transform:scale($scale1,$scale2);
  transform:scale($scale1,$scale2);
}

/* Background Cover*/

@mixin bg($size:cover,$pos:center center){
  background-repeat: no-repeat ;
  background-position:$pos;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  -ms-background-size: $size;
  background-size: $size;
}

/* Triangel */

@mixin triangle($width,$dir,$color){
  @if $dir == up{
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $color;
  }@else if $dir == down{
    width: 0;
    height: 0;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top: $width solid $color;
  }@else if $dir == right{
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left: $width solid $color;
  }@else if $dir == left{
    width: 0;
    height: 0;
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right:$width solid $color;
  }
}

/*-- Positions --*/

@mixin align($side){
  @if $side == V {
    position:absolute;
    bottom:50%;
    -ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  @else if $side == H {
    position:absolute;
    right:50%;
    -ms-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  @else if $side == HV {
    position:absolute;
    bottom:50%;
    right:50%;
    -ms-transform: translate(50%,50%);
    -webkit-transform: translate(50%,50%);
    transform: translate(50%,50%);
  }
  @else if $side == none {
    position:relative;
    bottom:auto;
    right:auto;
    -ms-transform: none;
    -webkit-transform:none;
    transform:none;
  }
}
@mixin alignB($side){
  display: block;
  margin: auto;
  @if $side == V {
    position:absolute;
    top: 0;
    bottom:0;
  }
  @else if $side == H {
    position:absolute;
    right:0;
    left: 0;
  }
  @else if $side == HV {
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  @else if $side == none {
    position:relative;
    top:auto;
    bottom: auto;
    right: auto;
    left: auto;
  }
}

/* Media queries */

@mixin mq_max($width){
  @media only screen and (max-width: $width){@content;}
}
@mixin mq_min($width){
  @media only screen and (min-width: $width){@content;}
}
@mixin mq_min_max($min_width,$max_width){
  @media only screen and (min-width: $min_width) and (max-width:$max_width){@content;}
}

/* Clear Fix */

@mixin clear-div{
  &:after,&:before{
    display: table;
    content: " ";
    clear: both;
  }
}