@import "reset";
@import "mixins";

/*-- Colors --*/

$textDark:#1c1c1c;
$textLight: #fff;
$lightGray:#eeeeee;
$hoverColor:#56dac2;
$bgColor:#446087;
$thirdColor: #fe7877;

body{
  font-family: ralewaylight,arial,sans-serif;
  font-weight: 300;
  font-size:1.3em;
  background-color:#f8f8f8;
}
.wrapper{
  max-width: 1440px;
  padding: 0 15px;
  margin:0 auto;
}
/*------*/
.top-header{
  @include bg(80% auto,bottom center);
  position: relative;
  background-color: $bgColor;
  height: 27em;
  &__title{
    display:block;
    text-align: center;
    padding-top: 2.5em;
    color: $textLight;
    font-size: 2em;
    line-height:1.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding-right:15px;
    padding-left:15px;
    span{
      display: block;
    }
  }
}
@include mq_max(768px){
  .top-header{
    @include bg(100% auto,bottom center);
  }
  .top-header__title{
    font-size: 1.6em;
    padding-top: 3.5em;
    span{
      display: inline;
    }
  }
  body{
    font-size: 1.1em;
  }
}
@include mq_max(480px){
  .top-header{
    @include bg(150% auto,bottom center);
  }
}
@include mq_min(1600px){
  .top-header{
    @include bg(1440px auto,bottom center);
  }
  .wrapper{
    max-width: 1600px;
  }
  body{
    font-size: 1.7em;
  }
}
@include mq_min(2560px){
  .top-header{
    @include bg(1600px auto,bottom center);
  }
  .wrapper{
    max-width: 1920px;
  }
  body{
    font-size: 2.5em;
  }
}
.navigation{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index:9;
  background-color: #fff;
  &__logo{
    @include alignB(V);
    display: inline-block;
    height: 60px;
    img{
      height: 100%;
      width: auto;
    }
  }
  &__ul{
    display: block;
    text-align: right;
    direction: ltr;
    @include clear-div;
    padding: 0.5em 0;
    padding-left: 100px;
    >li{
      display: inline-block;
      >a{
        padding: 0.5em 1em;
        display: inline-block;
        position: relative;
        border-radius: 0.3em;
        border-bottom: 0.2em solid transparent;
        text-transform: uppercase;
        color:$textDark;
        font-size: 0.8em;
        @include transition;
        &:hover{
          background-color: $hoverColor;
          border-bottom: 0.2em solid $hoverColor - 20;
          color:$textLight;
        }
      }
    }
  }
}
@include mq_max(768px){
  .navigation__ul{
    display: none;
  }
  .navigation{
    height: 70px;
  }
}
.section{
  padding-top: 5em;
  padding-bottom: 1em;
  &__title{
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    color:$textLight;
    padding-bottom: 1em;
  }
  &__header{
    text-align: center;
    max-width: 700px;
    margin:0 auto;
    line-height: 1.5em;
    color: $textLight;
    padding-bottom: 2.2em;
    p{
      font-size: 0.8em;
    }
  }
}
.about-foster{
  background-color: $thirdColor;
}
.content-links{
  max-width: 900px;
  margin: 0 auto;
  @include clear-div;
  line-height: 1.5em;
  &__col{
    width: 33.33%;
    float: left;
    text-align: center;
    padding-bottom: 4em;
    &:nth-of-type(1){
      .content-links__img-bg{
        background-color: #7acaad;
      }
    }
    &:nth-of-type(2){
      .content-links__img-bg{
        background-color: #3f74a6;
      }
    }
    &:nth-of-type(3){
      .content-links__img-bg{
        background-color: #37516a;
      }
    }
    &:nth-of-type(4){
      .content-links__img-bg{
        background-color: #fb7471;
      }
    }
    &:nth-of-type(5){
      .content-links__img-bg{
        background-color: #6b5f91;
      }
    }
    &:nth-of-type(6){
      .content-links__img-bg{
        background-color: #f9c756;
      }
    }
  }
  &__img{
    display: block;
    width: 120px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  &__link{
    display:block;
  }
  &__img-bg{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin:0 auto;
    margin-bottom: 20px;
  }
  &__center-img{
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    @include alignB(HV);
  }
  &__title{
    color:$textLight;
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  &__text{
    color:$textLight;
    font-size: 0.8em;
    line-height: 1.2em;
    padding:0 15px;
  }
  &__title-dark{
    color: $textDark;
  }
}
@include mq_min(2560px){
  .content-links {
    max-width: 1440px;
  }
  .content-links {
    &__img{
      width: 200px;
    }
    &__img-bg {
      width: 230px;
      height: 230px;
    }
  }
  .section__header{
    max-width: 1200px;
  }
}
@include mq_max(768px){
  .content-links {
    &__col {
      width: 50%;
    }
    &__img{
      width: 90px;
    }
    &__img-bg {
      width: 120px;
      height: 120px;
    }
  }
}
@include mq_max(480px){
  .content-links {
    &__col {
      width: 100%;
    }
    &__img{
      width: 90px;
    }
  }
}
.section__title-dark{
  color:$textDark;
  padding-bottom: 80px;
}
.features{
  background-color: #efece7;
}
.get-app{
  background-color: #363a46;
  padding: 5em 0;
  &__form{
    text-align: center;
  }
  &__btn,&__input{
    padding: 0 1em;
    display: inline-block;
    line-height: 3em;
    border-radius: 10px;
    border-bottom: 3px solid #c6c6c6;
  }
  &__btn{
    background-color:$hoverColor;
    border-bottom-color: $hoverColor - 40;
    color:$textLight;
    @include transition;
    &:hover{
      background-color:$hoverColor - 20;
    }
  }
  &__input{
    display: inline-block;
    width: 9em;
    background-color: #fff;
  }
}
.footer{
  background-color: #fff;
  padding: 2em 0;
  &__copy{
    font-size: 0.6em;
    text-align: center;
    padding-top: 5px;
  }
  &__ul{
    display: block;
    text-align: center;
    li{
      display: inline-block;
      a{
        display: inline-block;
        position: relative;
        padding: 5px;
        font-size: 0.6em;
        color: $thirdColor;
        @include transition;
        &:hover{
          color:$thirdColor - 20;
        }
        &:after{
          content: '';
          border-right: 1px solid #d0d0d0;
          height: 10px;
          @include alignB(V);
          right: -3px;
        }
      }
      &:last-of-type{
        a{
          &:after{
            height: 0;
          }
        }
      }
    }
  }
}