html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select, textarea, button {
  background-color: transparent;
  outline: none !important;
  border: 0; }

button {
  cursor: pointer; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

/* Transition */
/* Scale */
/* Background Cover*/
/* Triangel */
/*-- Positions --*/
/* Media queries */
/* Clear Fix */
/*-- Colors --*/
body {
  font-family: ralewaylight,arial,sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  background-color: #f8f8f8; }

.wrapper {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto; }

/*------*/
.top-header {
  background-repeat: no-repeat;
  background-position: bottom center;
  -webkit-background-size: 80% auto;
  -moz-background-size: 80% auto;
  -o-background-size: 80% auto;
  -ms-background-size: 80% auto;
  background-size: 80% auto;
  position: relative;
  background-color: #446087;
  height: 27em; }
  .top-header__title {
    display: block;
    text-align: center;
    padding-top: 2.5em;
    color: #fff;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px; }
    .top-header__title span {
      display: block; }

@media only screen and (max-width: 768px) {
  .top-header {
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto; }

  .top-header__title {
    font-size: 1.6em;
    padding-top: 3.5em; }
    .top-header__title span {
      display: inline; }

  body {
    font-size: 1.1em; } }
@media only screen and (max-width: 480px) {
  .top-header {
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    -o-background-size: 150% auto;
    -ms-background-size: 150% auto;
    background-size: 150% auto; } }
@media only screen and (min-width: 1600px) {
  .top-header {
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: 1440px auto;
    -moz-background-size: 1440px auto;
    -o-background-size: 1440px auto;
    -ms-background-size: 1440px auto;
    background-size: 1440px auto; }

  .wrapper {
    max-width: 1600px; }

  body {
    font-size: 1.7em; } }
@media only screen and (min-width: 2560px) {
  .top-header {
    background-repeat: no-repeat;
    background-position: bottom center;
    -webkit-background-size: 1600px auto;
    -moz-background-size: 1600px auto;
    -o-background-size: 1600px auto;
    -ms-background-size: 1600px auto;
    background-size: 1600px auto; }

  .wrapper {
    max-width: 1920px; }

  body {
    font-size: 2.5em; } }
.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff; }
  .navigation__logo {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    height: 60px; }
    .navigation__logo img {
      height: 100%;
      width: auto; }
  .navigation__ul {
    display: block;
    text-align: right;
    direction: ltr;
    padding: 0.5em 0;
    padding-left: 100px; }
    .navigation__ul:after, .navigation__ul:before {
      display: table;
      content: " ";
      clear: both; }
    .navigation__ul > li {
      display: inline-block; }
      .navigation__ul > li > a {
        padding: 0.5em 1em;
        display: inline-block;
        position: relative;
        border-radius: 0.3em;
        border-bottom: 0.2em solid transparent;
        text-transform: uppercase;
        color: #1c1c1c;
        font-size: 0.8em;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        -ms-transition-delay: 0s;
        transition-delay: 0s; }
        .navigation__ul > li > a:hover {
          background-color: #56dac2;
          border-bottom: 0.2em solid #42c6ae;
          color: #fff; }

@media only screen and (max-width: 768px) {
  .navigation__ul {
    display: none; }

  .navigation {
    height: 70px; } }
.section {
  padding-top: 5em;
  padding-bottom: 1em; }
  .section__title {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 1em; }
  .section__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5em;
    color: #fff;
    padding-bottom: 2.2em; }
    .section__header p {
      font-size: 0.8em; }

.about-foster {
  background-color: #fe7877; }

.content-links {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.5em; }
  .content-links:after, .content-links:before {
    display: table;
    content: " ";
    clear: both; }
  .content-links__col {
    width: 33.33%;
    float: left;
    text-align: center;
    padding-bottom: 4em; }
    .content-links__col:nth-of-type(1) .content-links__img-bg {
      background-color: #7acaad; }
    .content-links__col:nth-of-type(2) .content-links__img-bg {
      background-color: #3f74a6; }
    .content-links__col:nth-of-type(3) .content-links__img-bg {
      background-color: #37516a; }
    .content-links__col:nth-of-type(4) .content-links__img-bg {
      background-color: #fb7471; }
    .content-links__col:nth-of-type(5) .content-links__img-bg {
      background-color: #6b5f91; }
    .content-links__col:nth-of-type(6) .content-links__img-bg {
      background-color: #f9c756; }
  .content-links__img {
    display: block;
    width: 120px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
  .content-links__link {
    display: block; }
  .content-links__img-bg {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .content-links__center-img {
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  .content-links__title {
    color: #fff;
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em; }
  .content-links__text {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.2em;
    padding: 0 15px; }
  .content-links__title-dark {
    color: #1c1c1c; }

@media only screen and (min-width: 2560px) {
  .content-links {
    max-width: 1440px; }

  .content-links__img {
    width: 200px; }
  .content-links__img-bg {
    width: 230px;
    height: 230px; }

  .section__header {
    max-width: 1200px; } }
@media only screen and (max-width: 768px) {
  .content-links__col {
    width: 50%; }
  .content-links__img {
    width: 90px; }
  .content-links__img-bg {
    width: 120px;
    height: 120px; } }
@media only screen and (max-width: 480px) {
  .content-links__col {
    width: 100%; }
  .content-links__img {
    width: 90px; } }
.section__title-dark {
  color: #1c1c1c;
  padding-bottom: 80px; }

.features {
  background-color: #efece7; }

.get-app {
  background-color: #363a46;
  padding: 5em 0; }
  .get-app__form {
    text-align: center; }
  .get-app__btn, .get-app__input {
    padding: 0 1em;
    display: inline-block;
    line-height: 3em;
    border-radius: 10px;
    border-bottom: 3px solid #c6c6c6; }
  .get-app__btn {
    background-color: #56dac2;
    border-bottom-color: #2eb29a;
    color: #fff;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s; }
    .get-app__btn:hover {
      background-color: #42c6ae; }
  .get-app__input {
    display: inline-block;
    width: 9em;
    background-color: #fff; }

.footer {
  background-color: #fff;
  padding: 2em 0; }
  .footer__copy {
    font-size: 0.6em;
    text-align: center;
    padding-top: 5px; }
  .footer__ul {
    display: block;
    text-align: center; }
    .footer__ul li {
      display: inline-block; }
      .footer__ul li a {
        display: inline-block;
        position: relative;
        padding: 5px;
        font-size: 0.6em;
        color: #fe7877;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -o-transition: 0.3s all;
        -ms-transition: 0.3s all;
        transition: 0.3s all;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        -ms-transition-delay: 0s;
        transition-delay: 0s; }
        .footer__ul li a:hover {
          color: #ea6463; }
        .footer__ul li a:after {
          content: '';
          border-right: 1px solid #d0d0d0;
          height: 10px;
          display: block;
          margin: auto;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -3px; }
      .footer__ul li:last-of-type a:after {
        height: 0; }

/*# sourceMappingURL=main.css.map */
